.logo {
  height: -webkit-fill-available;
}

/*hides contact and profile on page load*/
.contact, .profile {
  display: none
}

.defaultPage h4 {
  font-size: 17px;
  font-family: verdana;
  margin: 15px 10px 15px 10px;
}
